 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 20px 0;

    .stats {
        width: 200px;
        padding: 8px 0;
        border: 2px solid #04838F;
        border-radius: 8px;
        text-align: center;

        strong {
            display: block;
        }
    }
}