* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    color: #252525;
}

main {
    width: 80%;
    min-height: 90%;
    padding: 25px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #252525;

    &:hover {
        text-decoration: underline;
    }
}

h2 {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

h3 {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 6px;
    background: #04838F;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

app-medals-line-chart, app-medals-pie-chart { width: 100%; }

section {
    display: flex;
    flex-direction: column;
    align-items: center;

     .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .stats {
        width: 200px;
        padding: 8px 0;
        border: 2px solid #04838F;
        border-radius: 8px;
        text-align: center;

        strong {
            display: block;
        }
    }
}
}

.logo {
    height: 50px;
}

.chart-container {
  width: 100%;
  max-width: 700px;   
  margin: 0 auto;
}

@media only screen and (max-width: 850px) {
  section .container {
    justify-content: center;
    flex-wrap: wrap;
  }
}