* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    color: #252525;
}

main {
    width: 80%;
    height: 90%;
    padding: 25px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

h3 {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 6px;
    background: #04838F;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 50px;
}